body{
    background-color: rgb(253, 253, 253);
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    max-width: 100vw;

}
nav{
    background-color: rgb(179, 218, 179);
}

.hidden{
    display: none;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

a:hover{
    text-decoration: none;
}

footer{

    background-color: rgb(179, 218, 179);


}



.nav-tabs .nav-item .active{
    background-color: rgb(179, 218, 179);
}

.landingTableUpcoming .fas {
    color: green !important;
}

.tripObjectBg{
    background-color: rgb(245, 245, 215);
    padding-bottom: 1em;

}

.tripObject{
    margin-top: 0em;
    margin-bottom: 0em;
}

.landingReview{
    background-color: rgb(245, 245, 215);

}


.landingReview .fas {
    color: green !important;
}

.bookingGetQuote{
    background-color: rgb(179, 218, 179);
    padding-top: 3em;

    padding-bottom: 3em;
}


  /* --------------------------------------------------------------------------------------------------- */

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  }


.tripObj{
    object-fit: cover;
}



body{
    z-index: -1;
}


.travelwithUs{
    background-color: rgb(245, 245, 215);
}


.ourDestinations{
    background-color: rgb(245, 245, 215);

}